* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: .2rem 2rem;
    background: #1f2937;
    color: #f9faf8;
}

#logo {
    width: 4rem;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: #f9faf8;
}

#container-hero {
    background: #1f2937;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    max-width: 30rem;
    font-size: 1.2rem;
    color: #e5e7eb;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 3rem;
    color: #f9faf8;
}

button {
    width: 8rem;
    padding: .5rem 1.2rem;
    background: #3882f6;
    border-radius: .8rem;
    border: 1px solid #3882f6;
    font-size: 1.2rem;
    font-weight: 700;
    color: #f9faf8;
}

#hero {
    width: 30rem;
    padding: 0 1rem 1rem;
}

